<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>Location:</strong>
  <%= @student.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @student.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @student.longitude %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
